@import "component";

.container-options {
  width: 45%;
  margin-left: auto;
  margin-right: auto;

  .title {
    @include display-small-font;
    color: $purple3;
    text-align: center;
  }
}

.container-buttoms {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;

  .btn-wrapper {
    width: 130px;
    height: 50px;
  }
}
