<div class="container-recover">
  <div class="container-recover-image">
    <img src="{{ image }}" alt="imagen de recuperacion" />
  </div>
  <h2 class="change-password">Cambiar Contraseña</h2>
  <form class="container-recover-password">
    <app-form-input *ngIf="mode" labelText="Contraseña actual"></app-form-input>
    <app-form-input
      class="container-recover-password-input"
      labelText="Contraseña nueva"
    ></app-form-input>
    <app-form-input
      class="container-recover-password-input"
      labelText="Confirmar tu nueva contraseña"
    >
    </app-form-input>
    <div class="container-recover-password-options">
      <div class="btn-wrapper">
        <app-button
          type="secondary"
          text="Cancelar"
          [fullWidth]="true"
          redirectTo="{{ cancelUrl }}"
        ></app-button>
      </div>
      <div class="btn-wrapper">
        <app-button
          type="primary"
          text="Enviar"
          [fullWidth]="true"
        ></app-button>
      </div>
    </div>
  </form>
</div>
