@import "component";

.container-recover {
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
  min-width: 358px;
  &-image {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    img {
      width: 350px;
    }
  }

  .change-password {
    @include display-large-font;
    text-align: center;
    color: $primary;
  }

  &-password {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &-input {
      margin-top: 10px;
    }
    &-options {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      align-content: stretch;
      margin-top: 40px;
      margin-bottom: 30px;

      .btn-wrapper {
        width: 230px;
        height: 60px;
      }
    }
  }
}
