<div class="users-list-container">
  <header>
    <h1>Usuarios</h1>
    <div class="button-wrapper">
      <app-button
        text="Crear usuario"
        type="primary"
        [fullWidth]="true"
        redirectTo="{{ createUserUrl }}"
      ></app-button>
    </div>
  </header>
  <app-cards-list>
    <app-card
      *ngFor="let user of usersList"
      title="{{ user.name }}"
      subTitle="{{ user.role }}"
      text="{{ user.company || undefined }}"
      image="{{ user.profilePic || defaultImg }}"
    ></app-card>
  </app-cards-list>
</div>
