$white1: #fff;
$white2: #fbf8f8;
$white3: #fffbff;
$primary: #6338e7;
$softPurple: #d3c7ff;
$purple2: #a990ff;
$purple3: #7a54ff;
$black: #000;
$gray: #7e7b7b;

$nav-height: 67px;
$vh-no-nav: calc(100vh - #{$nav-height});
